<a href="https://colab.research.google.com/github/ethanmarshallanalytics/Proximo-Spirits-Aggregation/blob/main/Proximo%20Spirits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Create combined_df
Combines data from 2022-2024 and concatnates into one df

In [2]:
import pandas as pd
df_2024 = pd.read_csv('/content/drive/MyDrive/PA - Test 2024_PA - Test 2024.csv')
df_2024['Year'] = '2024'
df_2023 = pd.read_csv('/content/drive/MyDrive/PA - Test 2023_PA - Test 2023.csv')
df_2023['Year'] = '2023'
df_2022 = pd.read_csv('/content/drive/MyDrive/PA - Test 2022_PA - Test 2022.csv')
df_2022['Year'] = '2022'
combined_df = pd.concat([df_2022, df_2023, df_2024], ignore_index=True)

<ipython-input-2-f82f9ed7a201>:2: DtypeWarning: Columns (1,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2024 = pd.read_csv('/content/drive/MyDrive/PA - Test 2024_PA - Test 2024.csv')
<ipython-input-2-f82f9ed7a201>:4: DtypeWarning: Columns (1,8,9,10,11,12,13,14,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2023 = pd.read_csv('/content/drive/MyDrive/PA - Test 2023_PA - Test 2023.csv')
<ipython-input-2-f82f9ed7a201>:6: DtypeWarning: Columns (1,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv('/content/drive/MyDrive/PA - Test 2022_PA - Test 2022.csv')

In [62]:
combined_df.columns

Index(['Address 1', 'Age', 'Beverage Type', 'Brand Full', 'City', 'Class',
       'Class Type', 'Class Type Name', 'DISCUS Brand Family',
       'DISCUS Common Code Name', 'DISCUS Flavor', 'DISCUS Major Category',
       'DISCUS Minor 1', 'DISCUS Minor 2', 'DISCUS Xref', 'Imported Domestic',
       'Month', 'Premise Indicator', 'Size', 'State Full',
       'Store Licensee Name', 'Table Names', 'Vendor', 'Year', 'Zip',
       'Cases 9L', 'Cases Actual', 'Cases Standard', 'Dollars Retail',
       'Dollars Shelf', 'Proof', 'SCC', 'Units', 'UPC', 'Table Names-1'],
      dtype='object')

In [5]:
columns_to_keep = ['Year', "DISCUS Brand Family","DISCUS Major Category", "Imported Domestic", 'Cases 9L', 'Dollars Shelf',
                   'Address 1', 'City', 'State Full', 'Zip', 'Premise Indicator']

In [39]:
df_2024.head()

,Address 1,Age,Beverage Type,Brand Full,City,Class,Class Type,Class Type Name,DISCUS Brand Family,DISCUS Common Code Name,...,Zip,Cases 9L,Cases Actual,Cases Standard,Dollars Retail,Dollars Shelf,Proof,SCC,Units,UPC
0,3300 LEHIGH ST,NaN,WINES,CHADDSFORD SPICED,"P1, ALLENTOWN",WINES,APPLE ( 9161 ),APPLE,NaN,NaN,...,18103.0,0.17,0.17,0.17,18.69,18.69,NaN,NaN,1,9.857803e+10
1,2223 GALLOWAY RD,NaN,WINES,CHADDSFORD SPICED,"P1, BENSALEM",WINES,APPLE ( 9161 ),APPLE,NaN,NaN,...,19020.0,0.17,0.17,0.17,18.69,18.69,NaN,NaN,1,9.857803e+10
2,35 BRIAR CREEK PLAZA,NaN,WINES,CHADDSFORD SPICED,"P1, BERWICK",WINES,APPLE ( 9161 ),APPLE,NaN,NaN,...,18603.0,0.17,0.17,0.17,18.69,18.69,NaN,NaN,1,9.857803e+10
3,VILLAGE SQ,NaN,WINES,CHADDSFORD SPICED,"P1, BETHEL PARK",WINES,APPLE ( 9161 ),APPLE,NaN,NaN,...,15102.0,0.17,0.17,0.17,18.69,18.69,NaN,NaN,1,9.857803e+10
4,CHARTIERS VALLEY SHOPPING CTR,NaN,WINES,CHADDSFORD SPICED,"P1, BRIDGEVILLE",WINES,APPLE ( 9161 ),APPLE,NaN,NaN,...,15017.0,0.17,0.17,0.17,18.69,18.69,NaN,NaN,1,9.857803e+10

## Subset on Proximo Spirit Vendor Brands

In [6]:
proximo_vendor = combined_df[combined_df['Vendor'] == 'PROXIMO SPIRITS  ( 6108 )']
len(proximo_vendor)
#columns_to_keep = ['Year', 'Age', 'Brand Full', 'Class', "DISCUS Brand Family","DISCUS Major Category", "DISCUS Minor 1", "DISCUS Minor 2", "Imported Domestic",
#                   'Cases 9L', 'Dollars Shelf', 'Store Licensee Name']
subset_df = proximo_vendor[columns_to_keep]
dim = subset_df.shape
print(dim[0])
print(dim[1])

860188
11

## ALL VENDORS ON CERTAIN CATEGORIES

In [40]:
dim = combined_df.shape
print(dim[0])
print(dim[1])

35710010
35

In [42]:
spirits = combined_df[combined_df['Beverage Type'] == 'SPIRITS']
dim = spirits.shape
print(dim[0])
print(dim[1])

19231600
35

In [43]:
proximo_class = proximo_vendor['DISCUS Major Category'].unique()
print(proximo_class)

['COCKTAILS' 'VODKA' 'TEQUILA' 'IRISH' 'RUM' 'DOMESTIC WHISKEY' 'CANADIAN'
 'GIN']

In [44]:
#categories = ['COCKTAILS', 'VODKA', 'TEQUILA', 'IRISH', 'RUM', 'DOMESTIC WHISKEY', 'CANADIAN', 'GIN']
columns_to_keep = ['Year', 'Class', "DISCUS Brand Family","DISCUS Major Category", "DISCUS Minor 2",
                   'Cases 9L', 'Dollars Shelf', 'Store Licensee Name', 'Vendor', 'Zip', 'Premise Indicator']
spirit = combined_df[combined_df['DISCUS Major Category'].isin(proximo_class)]
spirit = spirit[columns_to_keep]
dim = spirit.shape
print(dim[0])
print(dim[1])

14706665
11

In [32]:
spirit[''].unique()

array(['COCKTAILS', 'VODKA', 'CORDIALS', 'WHISKEY', 'TEQUILA', 'GIN',
       'RUM'], dtype=object)

In [31]:
spirit.to_csv("spirits_v2.csv")

In [33]:
combined_df.columns

Index(['Address 1', 'Age', 'Beverage Type', 'Brand Full', 'City', 'Class',
       'Class Type', 'Class Type Name', 'DISCUS Brand Family',
       'DISCUS Common Code Name', 'DISCUS Flavor', 'DISCUS Major Category',
       'DISCUS Minor 1', 'DISCUS Minor 2', 'DISCUS Xref', 'Imported Domestic',
       'Month', 'Premise Indicator', 'Size', 'State Full',
       'Store Licensee Name', 'Table Names', 'Vendor', 'Year', 'Zip',
       'Cases 9L', 'Cases Actual', 'Cases Standard', 'Dollars Retail',
       'Dollars Shelf', 'Proof', 'SCC', 'Units', 'UPC', 'Table Names-1'],
      dtype='object')

In [35]:
combined_df['Beverage Type'].unique()

array(['WINES', 'SPIRITS', 'Totals'], dtype=object)